.destaques{
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    font-size: 8px;
    /* gap: 40px; */
    justify-content: space-around;
    background-color: rgb(14, 79, 136);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.50);
}

.destaques-link{
    text-decoration: none;
    color: white;
}